{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "tailwindFunctions": ["clsx"],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
